body {
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 #e6e6e6;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 10px;
    border: 2px solid #e6e6e6;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #8a8a8a;
}

.home {
    background-color: #282c33;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home .div {
    background-color: var(--background);
    overflow: hidden;
    width: 1920px;
    height: 2547px;
    position: relative;
  }
  
  .home .overlap {
    position: absolute;
    width: 2002px;
    height: 2096px;
    top: 124px;
    left: -82px;
  }
  
  .home .background {
    position: absolute;
    width: 2002px;
    height: 2004px;
    top: 0;
    left: 0;
  }
  
  .home .frame {
    display: flex;
    flex-direction: column;
    width: 135px;
    height: 97px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 1522px;
    left: 1783px;
  }
  
  .home .frame-2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .home .ellipse {
    position: relative;
    width: 4px;
    height: 4px;
    background-color: var(--gray);
    border-radius: 2px;
  }
  
  .home .frame-3 {
    display: flex;
    flex-direction: column;
    width: 135px;
    height: 97px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 1907px;
    left: 34px;
  }
  
  .home .frame-4 {
    display: flex;
    flex-direction: column;
    width: 26px;
    height: 79px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 266px;
    left: 41px;
  }
  
  .home .rectangle {
    position: absolute;
    width: 203px;
    height: 145px;
    top: 1363px;
    left: 0;
    border: 1px solid;
    border-color: var(--gray);
  }
  
  .home .rectangle-2 {
    position: absolute;
    width: 203px;
    height: 145px;
    top: 458px;
    left: 1799px;
    border: 1px solid;
    border-color: var(--gray);
  }
  
  .home .rectangle-3 {
    position: absolute;
    width: 119px;
    height: 85px;
    top: 0;
    left: 1781px;
    border: 1px solid;
    border-color: var(--gray);
  }
  
  .home .contact {
    position: absolute;
    width: 995px;
    height: 183px;
    top: 1913px;
    left: 487px;
  }
  
  .home .group {
    display: flex;
    width: 317px;
    height: 39px;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .home .frame-5 {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    margin-top: -1.30px;
    margin-bottom: -1.30px;
  }
  
  .home .text-wrapper {
    font-size: 32px;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Fira Code", Helvetica;
    font-weight: 500;
    color: var(--primary);
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .projects {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Fira Code", Helvetica;
    font-weight: 500;
    color: var(--white);
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .line-stroke {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 1px;
  }
  
  .home .div-wrapper {
    position: absolute;
    width: 507px;
    height: 59px;
    top: 82px;
    left: 0;
  }
  
  .home .p {
    position: absolute;
    width: 505px;
    top: 0;
    left: 0;
    font-family: "Fira Code", Helvetica;
    font-weight: 500;
    color: var(--gray);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .frame-wrapper {
    position: absolute;
    width: 176px;
    height: 101px;
    top: 82px;
    left: 819px;
  }
  
  .home .frame-6 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    position: relative;
    border: 1px solid;
    border-color: var(--gray);
  }
  
  .home .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Fira Code", Helvetica;
    font-weight: 600;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .group-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .group-2 {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .img {
    position: relative;
    width: 32px;
    height: 32px;
  }
  
  .home .xdoctor {
    font-weight: 400;
    color: var(--gray);
    position: relative;
    width: fit-content;
    font-family: "Fira Code", Helvetica;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .about-me {
    position: absolute;
    width: 1025px;
    height: 508px;
    top: 1331px;
    left: 487px;
  }
  
  .home .hello-i-m-xdoctor-i-m-wrapper {
    position: absolute;
    width: 517px;
    height: 338px;
    top: 65px;
    left: 1px;
  }
  
  .home .hello-i-m-xdoctor-i-m {
    position: absolute;
    width: 515px;
    top: 0;
    left: 0;
    font-family: "Fira Code", Helvetica;
    font-weight: 400;
    color: var(--gray);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
  }
  
  .home .group-3 {
    display: flex;
    width: 516px;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .home .div-2 {
    position: relative;
    flex: 0 0 auto;
    display: inline-flex;
    align-items: flex-start;
  }
  
  .home .group-4 {
    position: absolute;
    width: 343px;
    height: 508px;
    top: 0;
    left: 682px;
  }
  
  .home .overlap-group {
    position: absolute;
    width: 343px;
    height: 507px;
    top: 0;
    left: 0;
  }
  
  .home .image {
    width: 339px;
    height: 507px;
    left: 4px;
    object-fit: cover;
    position: absolute;
    top: 0;
  }
  
  .home .frame-7 {
    display: flex;
    flex-direction: column;
    width: 84px;
    height: 84px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 59px;
    left: 0;
  }
  
  .home .frame-8 {
    display: flex;
    flex-direction: column;
    width: 104px;
    height: 56px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 279px;
    left: 223px;
  }
  
  .home .line-stroke-2 {
    position: absolute;
    width: 271px;
    height: 1px;
    top: 507px;
    left: 48px;
  }
  
  .home .skills {
    position: absolute;
    width: 1024px;
    height: 365px;
    top: 847px;
    left: 487px;
  }
  
  .home .group-5 {
    display: flex;
    width: 391px;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .home .text-wrapper-3 {
    font-size: 32px;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Fira Code", Helvetica;
    font-weight: 500;
    color: #fee715;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .group-6 {
    position: absolute;
    width: 584px;
    height: 280px;
    top: 85px;
    left: 440px;
  }
  
  .home .block {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 8px 0px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid;
    border-color: var(--gray);
  }
  
  .home .frame-9 {
    display: flex;
    align-items: flex-start;
    padding: 0px 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .home .line {
    align-self: stretch;
    width: 100%;
    position: relative;
    height: 1px;
    object-fit: cover;
  }
  
  .home .frame-10 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 0px 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .frame-11 {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Fira Code", Helvetica;
    font-weight: 400;
    color: var(--gray);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .frame-12 {
    gap: 8px;
    padding: 8px 0px;
    position: absolute;
    top: 0;
    left: 194px;
    border: 1px solid;
    border-color: var(--gray);
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .home .frame-13 {
    display: flex;
    flex-direction: column;
    width: 196px;
    align-items: flex-start;
    gap: 8px;
    padding: 8px 0px;
    position: absolute;
    top: 148px;
    left: 388px;
    border: 1px solid;
    border-color: var(--gray);
  }
  
  .home .frame-14 {
    display: inline-flex;
    align-items: flex-start;
    gap: 11px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .frame-15 {
    display: flex;
    flex-direction: column;
    width: 178px;
    align-items: flex-start;
    gap: 8px;
    padding: 8px 0px;
    position: absolute;
    top: 119px;
    left: 194px;
    border: 1px solid;
    border-color: var(--gray);
  }
  
  .home .frame-16 {
    flex-direction: column;
    gap: 8px;
    padding: 8px 0px;
    position: absolute;
    top: 0;
    left: 388px;
    border: 1px solid;
    border-color: var(--gray);
    display: inline-flex;
    align-items: flex-start;
  }
  
  .home .group-7 {
    position: absolute;
    width: 405px;
    height: 282px;
    top: 54px;
    left: 32px;
  }
  
  .home .frame-17 {
    display: flex;
    flex-direction: column;
    width: 63px;
    height: 63px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 38px;
    left: 0;
  }
  
  .home .frame-18 {
    display: flex;
    flex-direction: column;
    width: 63px;
    height: 63px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 143px;
    left: 177px;
  }
  
  .home .overlap-2 {
    position: absolute;
    width: 113px;
    height: 113px;
    top: 169px;
    left: 292px;
  }
  
  .home .rectangle-4 {
    position: absolute;
    width: 52px;
    height: 52px;
    top: 24px;
    left: 5px;
    border: 1px solid;
    border-color: var(--gray);
  }
  
  .home .logo {
    position: absolute;
    width: 113px;
    height: 113px;
    top: 0;
    left: 0;
  }
  
  .home .overlap-group-2 {
    position: relative;
    width: 114px;
    height: 114px;
    left: -1px;
  }
  
  .home .union {
    position: absolute;
    width: 56px;
    height: 85px;
    top: 0;
    left: 58px;
  }
  
  .home .union-2 {
    position: absolute;
    width: 58px;
    height: 87px;
    top: 27px;
    left: 0;
  }
  
  .home .rectangle-5 {
    position: absolute;
    width: 86px;
    height: 86px;
    top: 0;
    left: 227px;
    border: 1px solid;
    border-color: var(--gray);
  }
  
  .home .first {
    position: absolute;
    width: 1024px;
    height: 423px;
    top: 11px;
    left: 493px;
  }
  
  .home .group-8 {
    position: absolute;
    width: 541px;
    height: 227px;
    top: 74px;
    left: 0;
  }
  
  .home .xdoctor-is-a-web {
    position: absolute;
    width: 537px;
    top: 0;
    left: 0;
    font-family: "Fira Code", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .span {
    color: #ffffff;
  }
  
  .home .text-wrapper-5 {
    color: #fee715;
  }
  
  .home .text-wrapper-6 {
    position: absolute;
    width: 463px;
    top: 116px;
    left: 0;
    font-family: "Fira Code", Helvetica;
    font-weight: 400;
    color: var(--gray);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
  }
  
  .home .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 8px 16px;
    position: absolute;
    top: 190px;
    left: 0;
    border: 1px solid;
    border-color: #fee715;
  }
  
  .home .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Fira Code", Helvetica;
    font-weight: 500;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .overlap-wrapper {
    position: absolute;
    width: 469px;
    height: 386px;
    top: 0;
    left: 555px;
  }
  
  .home .overlap-3 {
    position: relative;
    height: 386px;
  }
  
  .home .overlap-group-wrapper {
    position: absolute;
    width: 155px;
    height: 155px;
    top: 84px;
    left: 0;
  }
  
  .home .overlap-group-3 {
    position: relative;
    width: 156px;
    height: 156px;
    top: -1px;
  }
  
  .home .union-3 {
    position: absolute;
    width: 78px;
    height: 116px;
    top: 40px;
    left: 0;
  }
  
  .home .union-4 {
    position: absolute;
    width: 80px;
    height: 118px;
    top: 0;
    left: 76px;
  }
  
  .home .image-2 {
    width: 457px;
    height: 386px;
    left: 12px;
    position: absolute;
    top: 0;
  }
  
  .home .dots {
    display: flex;
    flex-direction: column;
    width: 84px;
    height: 84px;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 246px;
    left: 369px;
  }
  
  .home .frame-19 {
    display: flex;
    width: 402px;
    align-items: center;
    gap: 10px;
    padding: 8px;
    position: absolute;
    top: 386px;
    left: 586px;
    background-color: var(--background);
    border: 1px solid;
    border-color: var(--gray);
  }
  
  .home .rectangle-6 {
    position: relative;
    width: 16px;
    height: 16px;
    background-color: #fee715;
    border: 1px solid;
    border-color: #1e1e1ed9;
  }
  
  .home .full-stack-developer {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Fira Code", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .text-wrapper-8 {
    font-weight: 500;
    color: #abb2bf;
  }
  
  .home .text-wrapper-9 {
    font-weight: 600;
    color: #ffffff;
  }
  
  .home .quote {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 32px;
    position: absolute;
    top: 575px;
    left: 356px;
    background-color: var(--background);
    border: 1px solid;
    border-color: var(--gray);
  }
  
  .home .rules-of {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Fira Code", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .frame-20 {
    position: absolute;
    width: 41px;
    height: 29px;
    top: -14px;
    left: 11px;
  }
  
  .home .frame-21 {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 16px;
    position: absolute;
    top: 94px;
    left: 980px;
    border: 1px solid;
    border-color: var(--gray);
  }
  
  .home .text-wrapper-10 {
    position: relative;
    width: fit-content;
    font-family: "Fira Code", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .frame-22 {
    position: absolute;
    width: 41px;
    height: 29px;
    top: 80px;
    left: 1244px;
  }
  
  .home .footer {
    display: flex;
    flex-direction: column;
    width: 1838px;
    align-items: center;
    gap: 32px;
    padding: 0px 0px 32px;
    position: absolute;
    top: 2339px;
    left: 52px;
    background-color: transparent;
  }
  
  .home .line-2 {
    width: 1366px;
    margin-top: -1.00px;
    position: relative;
    height: 1px;
    object-fit: cover;
  }
  
  .home .frame-23 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .frame-24 {
    display: flex;
    width: 1025px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .frame-25 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .frame-26 {
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .home .frame-27 {
    display: inline-flex;
    align-items: center;
    gap: 9px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .logo-2 {
    position: relative;
    width: 16px;
    height: 16px;
    background-image: url(https://c.animaapp.com/cOZTBH1k/img/union.svg);
    background-size: 100% 100%;
  }
  
  .home .text-wrapper-11 {
    position: relative;
    width: fit-content;
    font-family: "Fira Code", Helvetica;
    font-weight: 400;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .frame-28 {
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .home .text-wrapper-12 {
    font-size: 24px;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Fira Code", Helvetica;
    font-weight: 500;
    color: var(--white);
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .group-9 {
    position: relative;
    width: 71px;
    height: 32px;
  }
  
  .home .github {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
  }
  
  .home .discord {
    position: absolute;
    top: 0;
    left: 39px;
    width: 32px;
    height: 32px;
  }
  
  .home .text-wrapper-13 {
    position: relative;
    width: 218px;
    font-family: "Fira Code", Helvetica;
    font-weight: 400;
    color: var(--gray);
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .header {
    display: flex;
    width: 800px;
    align-items: flex-end;
    gap: 1350px;
    padding: 32px 0px 8px;
    position: fixed;
    top: 0;
    left: 171px;
    background-color: var(--background);
  }
  
  .home .frame-29 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .home .logo-3 {
    position: relative;
    width: 16px;
    height: 16px;
    background-image: url(https://c.animaapp.com/cOZTBH1k/img/union-5.svg);
    background-size: 100% 100%;
  }
  
  .home .xdoctor-2 {
    margin-top: -1.00px;
    font-weight: 700;
    color: var(--white);
    position: relative;
    width: fit-content;
    font-family: "Fira Code", Helvetica;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .header-link-wrapper {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -691.00px;
  }
  
  .home .text-wrapper-14 {
    font-size: 16px;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Fira Code", Helvetica;
    font-weight: 500;
    color: #fee715;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home .media {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: fixed;
    top: 0;
    left: 17px;
    background-color: var(--background);
  }
  
  .home .line-stroke-3 {
    position: relative;
    width: 1px;
    height: 191px;
  }
  
  .home .frame-30 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  